*.csv
.DS_Store
.ENV
ENV.txt
*.json
/시험용_파일_모음
/code/deploy/__pycache__
*.pem
*.tfstate
*.tfstate.backup
*.lock.info
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
location.txt
test.py
참고링크.txt