<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center">
    <h1>Result</h1>
    <h3>File List</h3>
    <hr width="100%" color="black" />
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="list-group border border-dark rounded">
            {% for n in files %}
            <li class="list-group-item">
              {{n}}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <a href="/analysis_result">Analyze</a>
</body>
</html>